.LoadMovieBackdropContainer {
    width: 100%;
    height: 200px;
}

.LoadMoviePoster {
    display: none;
    animation: load 1s ease-in-out infinite;
    -webkit-animation: load 1s ease-in-out infinite;
}

.LoadMovieBackdrop {
    background: rgba(41, 41, 41, 1);
    animation: load 1s ease-in-out infinite;
    -webkit-animation: load 1s ease-in-out infinite;
}

@keyframes load {
    0% {
        background: rgba(41,41,41, 1)
    }
    50% {
        background: rgba(41,41,41, 0.75)
    }
    100% {
        background: rgba(41,41,41, 1)
    }
}

@-webkit-keyframes load {
    0% {
        background: rgba(41,41,41, 1)
    }
    50% {
        background: rgba(41,41,41, 0.75)
    }
    100% {
        background: rgba(41,41,41, 1)
    }
}

@media only screen and (max-width: 500px) {
    .LoadMovieBackdropContainer {
        width: 100%;
        height: 200px;
    }
    .LoadMovieBackdrop {
        width: 100%;
        height: 200px;
        background: rgba(41, 41, 41, 1);
    }
}

@media only screen and (min-width: 501px) {
    .LoadMovieBackdropContainer {
        width: 100%;
        height: 300px;
    }
    .LoadMovieBackdrop {
        width: 100%;
        height: 300px;
        background: rgba(41, 41, 41, 1);
    }
}

@media only screen and (min-width: 767px) {
    .LoadMovieBackdropContainer {
        width: 100%;
        height: 400px;
    }
    .LoadMovieBackdrop {
        width: 100%;
        height: 400px;
        background: rgba(41, 41, 41, 1);
    }
}

@media only screen and (min-width: 992px) {
    .LoadMovieBackdropContainer {
        width: 100%;
        height: 475px;
    }
    .LoadMovieBackdrop {
        width: 100%;
        height: 475px;
        background: rgba(41, 41, 41, 1);
    }
}

@media only screen and (min-width: 1366px) {
    .LoadMovieBackdropContainer {
        width: 1366px;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        background: transparent;
    }
    .LoadMovieBackdrop {
        width: 1006px;
        height: 550px;
        background: rgba(41, 41, 41, 1);
    }
    .LoadMoviePoster {
        display: block;
        width: 350px;
        height: 550px;
        margin-right: 10px;
        background: rgba(41, 41, 41, 1);
    }
}