.root {
    display: flex;
    align-items: 'center';
    justify-content: space-between;
    height: 40px;
    width: 500px;
    flex: 1;
    background-color: white;
}
.indicator {
    display: flex;
    align-items: center;
    font-size: 0pt;
}
.input {
    flex: 1;
    width: 100px;
    border: 0;
    outline: none;
    margin-left: 5px
};
.iconButton {
    height: 40px;
    flex: 1;
    width: 10px;
};
.icon {
    margin-left: 5px;
    color: black;
}

/* @media only screen and (max-width: 500px) {
    .root {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    .root {
        display: none;
    }
} */

@media only screen and (min-width: 767px) {
    .root {
        display: flex;
        align-items: 'center';
        justify-content: space-between;
        height: 40px;
        width: 300px;
        flex: 1;
        background-color: white;
    }
}

@media only screen and (min-width: 992px) {
    .root {
        display: flex;
        align-items: 'center';
        justify-content: space-between;
        height: 40px;
        width: 500px;
        flex: 1;
        background-color: white;
    }
}