.SelectField {
    height: 45px;
    max-width: 245px;
    border-radius: 5px;
    border-color: #F5C518;   
    background-color: transparent;
    color: white;
    padding: 0 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 9pt;
}

.SelectField:active .SelectField:hover {
    outline-color: red;
}

.SelectField option {
    color: black;
}