.ModalListItem {
    background-color: 151515;
    color: white;
}

.ListItem {
    background-color: #151515;
}

.ListItemText {
    color: white;
}

.Divider {
    color: #F5C518;
}

.ModalListItemNone {
    display: none
}

.NoSearchFound {
    color: #5c5c5c;
    text-align: center;
}