.MovieBackdropOverlay div {
    display: flex;
    color: #FFF;
    margin-bottom: 10px;
    align-items: center;
    z-index: 1;
}

.MovieBackdropOverlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 1006px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 10px;
}